@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;
  color: #2f4a33;
  background: #faf9f6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Animação personalizada da Ampulheta */
@keyframes flipHourglass {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  90% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-flip-hourglass {
  animation: flipHourglass 2s ease-in-out infinite;
}